.du-nav-bg-clr {
  background-color: #1053b7;
}

.du-theme-bg-clr {
  background-color: #1053b7;
}

.du-theme-txt-clr {
  color: #1053b7;
}

.du-mt-10 {
  margin-top: 10px;
}

.du-hgt-250 {
  height: 250px;
}

.du-bg-yellow {
  background-color: yellow;
}

.du-hgt-100p {
  height: 100%;
}

.du-hgt-50p {
  height: 50%;
}

.du-mt-15 {
  margin-top: 15px;
}

.du-mt-8 {
  margin-top: 8px;
}

.du-mb-9 {
  margin-bottom: 9px;
}

.du-mt-25 {
  margin-top: 25px;
}

.du-mt-14 {
  margin-top: 14px;
}

.du-mb-n-5 {
  margin-bottom: -5px;
}

ul li {
  list-style-position: outside;
  margin-left: 1em;
}

.du-hgt-400 {
  height: 400px;
}

.du-hgt-500 {
  height: 500px;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.wrapper {
  flex: 1;
}

.du-max-wt-50p {
  max-width: 50%;
}

.du-fs-l {
  font-size: large;
}

.du-fs-xxl {
  font-size: xx-large;
}

/* Home */
.du-intro-txt {
  font-size: xxx-large;
}

.du-intro-img {
  height: 100%;
  width: 100%;
}

.du-ios-app-store {
  height: 20%;
  width: 70%;
}

.du-flow-img {
  height: 500px;
  width: 250px;
}

/* Projects */
.du-projects-desc-text,
.du-projects-desc-text:hover {
  text-decoration: none;
  color: #212529;
}

.du-card-img {
  object-fit: fill;
}

.du-card-shadow {
  padding: 6px;
  margin: 6px;
  box-shadow: 0px 0px 16px 0px rgba(16, 83, 183, 1);
}

.du-projects-mg-x {
  margin-top: 2em;
  margin-bottom: 2em;
}

/* About  */
.du-about-body {
  color: #1a202c;
  text-align: left;
  background-color: #e2e8f0;
}
.du-main-body {
  padding: 15px;
}
.du-card {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.du-card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.du-card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1rem;
}

.du-gutters-sm {
  margin-right: -8px;
  margin-left: -8px;
}

.du-gutters-sm > .col,
.du-gutters-sm > [class*="col-"] {
  padding-right: 8px;
  padding-left: 8px;
}

.du-mb-3 {
  margin-bottom: 1rem !important;
}

.progress,
.progress-bar {
  height: 15px;
  margin-bottom: 25px;
}

.progress-bar {
  background-color: #1053b7;
}

.du-about-img {
  width: 263px;
  border: 1px #555;
  border-style: solid;
}

/* Project Detail */
.du-screens-container {
  margin-right: -7px;
  margin-left: -7px;
}

.du-project-img {
  width: 331px;
  border: 1px #555;
  border-style: solid;
}
